{{- define "system_includes" }}
// #include <ros/ros.h>
{{- end -}}

{{- define "constants" }}
// no constants defined
{{- end -}}

{{- define "log" -}}
  /* {{ . }} */ printf
{{- end -}}

{{- /* Returns the argument set of a timeout callback. */ -}}
{{- define "timeout_args" -}}
  {{- "" -}}{{- /* This template intentionally left blank. */ -}}
{{- end -}}

{{- /* Returns the argument set of an input-accepted callback. */ -}}
{{- define "in_callback_args" -}}
  {{- "" -}}{{- /* This template intentionally left blank. */ -}}
{{- end -}}

{{- /* Takes the Channel of an output callback, returns its argument set. */ -}}
{{- define "out_callback_args" -}}
  const char* value
{{- end -}}

{{- /* Takes the Value received in an output callback, compares it against parameter `value`. */ -}}
{{- define "callback_compare" -}}
  std::string(value).compare("{{ .StringValue }}") == 0
{{- end -}}

{{/*
Placed in the test driver as the body of the 'while' loop that is waiting
for results to come in from callbacks.

Should have an indent of 2, and has the state machine as dot.
*/}}
{{- define "spin" }}
  while (stm.getStatus() == rtcg::Status::RUNNING)
  {
    // TODO: add animation here
  }
{{- end -}}

{{- define "main_args" -}}
  {{/* See https://stackoverflow.com/questions/46174445 */}}{{ "" }}
{{- end -}}

{{- template "base.cpp.tmpl" . -}}